<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PIM_Phase2 Automation_Suite">
   <!--<test name="BSAPIEOwner">
        <parameter name="UseCaseOwner" value="BSAPIEowner" />
    <classes>
			<class name="Phase2_Scripts.TC_001_Munitions_Indicator" />
    </classes>
  </test>  Test -->
  
  
  <test name="CBTUseCaseOwner">
	  <parameter name="UseCaseOwner" value="CBTUseCaseOwner" />
    <classes>
       <!--<class name="Phase2.CBTUseCases.TC_001_RecordmovesoutoftheReviewUseCaseSelection"/>-->
       
        <!--<class name="Phase2.CBTUseCases.TC_003_List_CBTHOLD_attribute_List_Rule_Triggered"/>-->
        <!--<class name="Phase2.CBTUseCases.TC_004_UCOReviewUserPuts_workflowonHold"/>-->
         <!--<class name="Phase2.CBTUseCases.TC_002_VerifyAutoApprove_Attributes"/>-->
        <!--  <class name="Phase2.CBTUseCases.TC_005_ListAllHoldAttributes"/>-->
        <class name="Phase2.CBTUseCases.TC_007_Validating_CBTUsecasescenarios_Toggle"/>
        
       <!-- ***************** POST-ETL Scripts *************** -->
        <!--<class name="Post_ETL_Scripts.TC_003_PostETL_PartialOnholdCheck"/>-->
<!--        <class name="Post_ETL_Scripts.TC_005a_PostETL_Partial_HoldAttributes"/>-->
        <!--<class name="Post_ETL_Scripts.TC_005b_PostETL_Complete_HoldAttributes2"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
