<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PIM_Phase2 Automation_Suite">
   <!--<test name="BSAPIEOwner">
        <parameter name="UseCaseOwner" value="BSAPIEowner" />
    <classes>
			<class name="Phase2_Scripts.TC_001_Munitions_Indicator" />
    </classes>
  </test>  Test -->
  
  
  <test name="CBTUseCaseOwner">
	  <parameter name="UseCaseOwner" value="CBTUseCaseOwner" />
    <classes>
       <class name="Phase2.CBTUseCases.TC_001_RecordmovesoutoftheReviewUseCaseSelection"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
