<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="CBTUseCaseOwner">
	  <parameter name="UseCaseOwner" value="CBTUseCaseOwner" />
    <classes>
      <!--<class name="Phase2_Test_Scripts.TC_001_UseCaseReview_Override"/>-->
      <class name="Phase2_Test_Scripts.TC_002_EntityNeedsUsecasereview"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
